.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
  margin: 0;
  margin-bottom: 42px;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(183, 255, 157, 0.5);
  opacity: 1;
  transition-duration: 100ms;
  z-index: 2;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

@media print {
  * {
    visibility: hidden;
  }

  .react-grid-layout * {
    visibility: visible;
  }

  .react-grid-layout {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 20px;
    visibility: hidden;
    page-break-after: always;
    page-break-inside: avoid;
    margin: 20px 0;
    /**
     * Page Breaks just didn't work no matter what I tried. So I am resorting to
     * give A4 paper's height to ensure pages break cleanly for different tabs
     */
    min-height: 260mm !important;
  }

  .react-resizable-handle {
    display: none;
  }
}
